export("ClusterEntropy","ClusterPurity","ConsensusMatPlot","nmf.mnnals","nmf.opt.k","SilhouettePlot")
import("NMF")
import("MASS")
import("cluster")
import("mclust")
import("InterSIM")
importFrom("grDevices", "dev.new")
